@media (max-width: 992px) {
    .header {
        padding: 0 30px 0 30px;
        justify-content: space-around;
        &__logo {
            img{
                width: 270px;
                height: 55px;
            }
        }
        &__official {
            width: 270px;
            font-size: 16px;
            span {
                font-size: 20px;
            }
        }
        &__contacts {
            width: 270px;
            align-items: center;
        }
        &__phone {
            font-size: 23px;
            margin: 0 auto;
            margin: 0;
            margin-top: 10px;
        }
        
        .button {
            margin-top: 5px;
            width: 200px;
            height: 40px;
            font-size: 16px;
        }
    }
    .promo {
        min-height: 550px;
        padding-bottom: 20px;
        &__wrapper {
            margin-top: 50px;
            margin-right: 70px;
        }
        &__header {
            font-size: 35px;    
        }
        &__subheader {
            margin-top: 10px;
            font-size: 30px;
            text-align: center;
        }
        &__icons {
            margin-top: 25px;
            width: 500px;
        }
        &__icon {
            font-size: 18px;
            img {
                height: 58px;
                width: 56px;
            }
        }
        .button_main {
            margin-top: 20px;
            width: 260px;
        }
        &__link {
            font-size: 17px;
        }
    }
    .benefits {
        padding: 30px 0 30px 0;
        min-height: 350px;
        .title {
            font-size: 30px;
        }
        &__wrapper {
            margin-top: 40px;
        }
        &__item {
            max-width: 290px;
        }
        &__title {
            margin-top: 15px;
            font-size: 20px;
        }
        &__descr {
            padding: 0 5px 0 5px;
            margin-top: 5px;
            font-size: 15px;
        }
    }
    .consultation {
        padding: 88px 0 88px 0;
        min-height: 630px;
        .title_left {
            font-size: 28px;
        }
        &__descr {
            font-size: 20px;
        }
        
    }

    .carousel {
        .carousel__inner {
            .slick-dots {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                li::marker {
                    font-size: 0;
                }
                button {
                    font-size: 0;
                    padding: 0;
                    border-radius: 50%;
                    border: none;
                    width: 10px;
                    height: 10px;
                    background-color: gray;
                }
                .slick-active button {
                    background: $main-color;
                }
                
            }
        }
    }
}
